<div> I am a Course component </div> 

<div>
	<div> Search: <input type='text'> <input type='button' value='Find'> <input (click)="goNew()" type='button' value='Add'> </div> 
	<div *ngFor="let course of courses" style='border: 2px solid black; margin: 10px'>
		<p >Id: {{course.Id}}</p>
		<p >Title: {{course.Title}}</p>
		<p >Description: {{course.Description}}</p>
		<p >Date: {{course.Date | date}}</p>
		
	</div>
	<div> Video course: 1h 28 min <input (click)="goEdit(1)" type='button' value='Edit'> <input type='button' value='Delete'> </div> 
	<div> Video course: 0h 15 min <input (click)="goEdit(2)" type='button' value='Edit'> <input type='button' value='Delete'> </div> 
	<div> Video course: 2h 15 min <input (click)="goEdit(3)" type='button' value='Edit'> <input type='button' value='Delete'> </div> 
	
	<a routerLink="/login" routerLinkActive="active">Go login</a>
</div>