<div> I am an Add / Edit Course component </div> 

<div>
	<div> Title: <input type='text' value={{someText}}> </div> 
	<div> Description: <input type='text'> </div> 
	<div> Date: <input type='text'> </div> 
	<div> Duration: <input type='text'> </div> 
	<div> Authors: 
		<select multiple='multiple'>
		  <option>Smith</option>
		  <option>Johnson</option>
		  <option>William</option>
		</select> 
		<input type='button' value='>'>
		<input type='button' value='<'>
		<select multiple='multiple'>
		  <option>Miller</option>
		  <option>Brown</option>
		</select> 
	</div> 
	<div> <input type='button' value='Save'> <input type='button' value='Cancel'> </div> 
	
	<a routerLink="/login" routerLinkActive="active">Go login</a>
</div>

