<div class="row" style='border: 2px solid black; margin: 10px'> 
	<div class="col-sm-3">
		<img src='../logo_epam.jpg' />
	</div> 	
	<div class="col-sm-3">
		<a routerLink="/courses" routerLinkActive="active" [textContent]="'Courses &gt; ' + course.Title"> </a>
	</div> 
	<div class="col-sm-3">
		<p> logged as {{userName}}</p> 
	</div> 
	<div class="col-sm-3">
		<input (click)="Logout()" type='button' value='Logout'>
	</div> 
</div>  

<div [hidden]="status == ''" [textContent]="'Status: ' + status"></div>
<div>
	<div> Title: <input type='text' [(ngModel)]="course.Title"> </div> 
	<div> Description: <input type='text' [(ngModel)]="course.Description"> </div> 
	<div> Date: <my-date (onDateUpdated)="handleDateUpdated($event)"> </my-date> </div> 
	<div> Duration: <input type='text' [(ngModel)]="course.Duration"> </div> 

	<div> Authors: 
		<select multiple='multiple' [(ngModel)]="aviableAuthors">
		  <option  *ngFor="let author of authors" [value]="author">
					{{author}}
			</option>
		</select> 
		<input type='button' value='>' (click)="AddAuthors(aviableAuthors)">
		<input type='button' value='<' (click)="RemoveAuthors(curAuthors)">
		
		<select multiple='multiple' [(ngModel)]="curAuthors">
		  <option  *ngFor="let author of course.Authors" [value]="author">
					{{author}}
			</option>
		</select> 
	</div> 
	<div> <input type='button' value='Save' (click)="Save()"> <input type='button' value='Cancel' (click)="Cancel()"> </div>
	
	<a routerLink="/login" routerLinkActive="active">Go to login</a>
</div>

